#DivHomePageButtons {
   box-shadow: 0 0 4px var(--red1);
   text-align: center !important;
   border: 2px solid var(--red1);
   background-color: var(--light2);
   border-radius: 0.8%;
   margin: auto;
   width: 20%; 
   padding-top: 40px;
   padding-bottom: 40px;

 }

#SpanHomePageButtons {
   box-shadow: 0 0 4px var(--red1);
   height: 100%;
   width: 100%;
    /* padding: 150px;  */
    /* width: 150px; */
    }

#DivHomePageButtons button {
   box-shadow: 0 0 3px 0px var(--red1);
   margin: 10px;
   width: 100px;
   text-align: center;
   border: 1px solid var(--red1);
}

#DivHomePageButtons textarea {
   margin: 10px;
   width: 100px;
   text-align: center;
}
#DivHomePageButtons button:hover {
   background-color: var(--yellow);
   transition: 150ms linear;
   border-radius: 1px;
   border: 1px solid var(--red1);
   box-shadow: 0 0 12px 1px var(--red1);
   margin: 10px;
   width: 100px;
}

/* #DivHomePageButtons button:hover {
   border: 1px solid var(--red1);
   box-shadow: 0 0 10px var(--red1);
   border-radius: 2px;
   -webkit-transition: box-shadow 100ms linear;
} */