
.column3 {
    float: left;
    width: 33.3%;
    padding: 10px;
}
#MainColumn1 , #MainColumn2, #MainColumn3 {
    margin: 5px;
    background-color: var(--light2);
    padding: 20px;
    border: 2px solid var(--red1);
    box-shadow: 0 0 4px var(--red1);
    border-radius: 0.8%;
    min-height: 550px;
}


@media only screen and (max-width: 1300px) {
    .column3 {
      width: 50%;
    }
    .thirdColumn {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 620px;
    }
  }
@media only screen and (max-width: 785px) {
    #MainColumn2 .collapsibleListElements {
      margin-left: -60px;
    }
    #MainColumn1 , #MainColumn2, #MainColumn3 {
        padding: 10px;
    }
    .column3 {
        padding: 5px;
    }
    .thirdColumn {
        margin-top: 600px;
    }
  }
@media only screen and (max-width: 676px) {
    #MainColumn2 .collapsibleListElements {
      margin-left: -90px;
    }
  }
@media only screen and (max-width: 609px) {
    #MainColumn2 .collapsibleListElements {
      margin-left: -120px;
    }
  }
@media only screen and (max-width: 609px) {
    #MainColumn2 .collapsibleListElements {
      margin-left: -120px;
    }
  }
@media only screen and (max-width: 550px) {
    .column3 {
        float: left;
        width: 100%;
    }
    .thirdColumn {
        margin-top: 0px;
        float: left;
    }
    #MainColumn2 .collapsibleListElements {
        margin: 0;
      left: 0;
      right: 0;
    }
  }
@media only screen and (max-width: 500px) {

  }
@media only screen and (max-width: 450px) {

  }
/* @media only screen and (max-width: 1550px) {
    .backgroundDark {
      display: none;
    }
  } */





















#test {
    margin-top: 150px;
}




















/*//-- Menu --//*/
/*#DivSettings, #DivSave, #DivLoad */
.divMenuCollapsible{
    margin-top: -30px;
    width: 100%;
    background-color: var(--light6);
    border-bottom: 2px solid var(--red1);
    padding: 10px;
    border-top: none;
    box-shadow: none
}
#DivSettings table {
    width: 100%;
}

#AreaSettingsTooltip, #AreaDifficulty {
    position: relative;
}
#DivSettings .collapsibleListElements {
    display: block;
    padding: 7px;
}

#DivSettings button {
    width: 150px;
}

#DivSettings td {
    padding: 5px
}
#DivSave button, #DivSave input, #DivLoad button, #DivLoad input {
    text-align: center;
    vertical-align: default;
    margin: 10px;
    height: 35px;
    width: 150px;
}




/* Settings */
#DivSettings button:hover, #DivSettings button.hover{
    background-color: var(--light5);
    box-shadow: 0 0 10px var(--red1);
    transition: 100ms linear;
    color: black;
}

/* Save, load */
#DivSave button, #DivLoad button {
    background-color: var(--light1);
    border: none;
    border: solid 1px var(--red1);
    box-shadow: 0 0 3px var(--red1);
    line-height: normal;
}

#DivSave button:hover, #DivLoad button:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--red1);
    transition: 100ms linear;
    color: black;
}























/*//-- Attributes, fight, shop --//*/

/* Player */
#MainColumn1 table {
    width: 100%;
}

#tablePlayerAttributes, #TableEnemyAttributes {
    border: var(--brown) solid 1px;
    border-radius: 0.8%;
}
/* #tablePlayerAttributes td.tdSelected, #TableEnemyAttributes td.tdSelected {
    box-shadow: 1px 1px 6px var(--red1);
} */

#tablePlayerAttributes td, #TableEnemyAttributes td, #tablePlayerAttributes th, #TableEnemyAttributes th, #tableShop th {
    border-right: none;
    border-left: none;
    padding-left: 4px;
}
#tablePlayerAttributes td {
    width: 25%;
}
[id*=Modifier] {
    width: 40px;
}

/* Fight */
#DivFight button {
    width: 100%;
}
#DivPlayerActions td {
    position: relative;
    width: 33%;
}


    /*Player actions*/
#DivPlayerActions {
    margin-top: 10px;
    margin-bottom: 10px;
    }
#DivPlayerActions table {
    width: 100%;
    text-align: center;
    border: none;
}
/* #DivPlayerActions td {
    padding: 0;
    border: 0;
    margin: 0;
    box-shadow: none;
}*/
#DivPlayerActions button {
    /* width: 25%; */
    padding: 2;
    /* width: 60px; */

    /* display:inline-block;
    border: 0;
    margin: 0;
    box-shadow: none; */
} 
.buttonActionEnabled {
    background-color: var(--light3);
}
.buttonActionEnabled:hover {
    background-color: var(--light6);
    text-shadow: var(--red4) 1px 1px 8px;
    transition: 100ms linear;
    box-shadow: 0 0 10px var(--red1);
    cursor: pointer;
}
.buttonActionDisabled {
    background-color: var(--light3);
    background-color: #87796c;
    border: 1px solid var(--brown);
    color: black;
    cursor: default;
}






















/*//-- Inventory --//*/

#MainColumn2 .tdSelected {
    cursor: pointer;
    background-color: var(--light6);
    text-shadow: var(--red1) 1px 1px 8px;
    transition: 100ms linear;
}

#MainColumn2 button, #MainColumn2 table /* table:not(.tableInventoryHidden)*/ {
    width: 100%;
}
#MainColumn2 button {
    text-align: center;
    margin-bottom: 10px;
}
#MainColumn2 .tableSmall {
    margin-top: 15px;
    margin-bottom: 15px;
}
#MainColumn2 td {
    width: 30px;
    padding-left: 4px;
}
#MainColumn2 .collapsibleListElements {
    margin-top: -11px;
}
#MainColumn2 #InventoryItem1 {
    width: 100px;
}
#MainColumn2 .collapsibleListElements td {
    padding-left: 2px;
    text-align: left;
    width: 130px;
    height: 30px;
    /* padding: 5px; */
    margin: 0;
    border-right: none;
    border-left: none;
}

#MainColumn2 .collapsibleListElements {
    padding: 10px;
}

/* Other Items */
#tableOtherItems {
    border: var(--brown) solid 1px;
}
#tableOtherItems td {
    border-right: none;
    border-left: none;
    height: 30px;
    width: 130px;
}






.inventory2 table {
    width: 100%;
    border: var(--brown) solid 1px;
}
.inventory2 td {
    border: none;
}













/*/-- Player attributes --/*/

#DivPlayerAttributes table {
}

#DivPlayerAttributes td {
    /* padding: 5px; */
}

#AreaSpellList {
    /* margin-top: 50px; */
}

.inventory1 {
    padding-top: 4px;
    border-top: 2px solid var(--red1);
    border-right: 2px solid var(--red1);
    border-left: 2px solid var(--red1);
    background-color: var(--light2);
}

.inventory2 {
    border-right: 2px solid var(--red1);
    border-left: 2px solid var(--red1);
    background-color: var(--light2);
}

.inventory3 {
    padding-top: 10px;
    margin-top: -250px;
    padding-bottom: 4px;
    border-right: 2px solid var(--red1);
    border-left: 2px solid var(--red1);
    border-bottom: 2px solid var(--red1);
    background-color: var(--light2);
}

#AreaSpellList {
    margin-top: 20px;
}


.fight button {
    margin: -1.5px;
    padding: 5px;
}

/* .fight button:enabled {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--light3);
    border: 1px solid var(--brown);
    padding: 5px;
    font-size: 16px;
    cursor: pointer; 
} */

/* #ButtonNewRound:hover {
    border: 1px solid var(--red1);
    box-shadow: 0 0 10px var(--red1);
    border-radius: 1px;
    transition: box-shadow 10ms linear;
} */






















/*//-- Shop --//*/

#MainColumn3 button {
    height: 42px;
    width: 100%;
    margin-bottom: 10px;
}


#DivShop table {
    margin-bottom: 10px;
    width: 100%;
    border: var(--brown) solid 1px;
    border-radius: 0.8%;
}
#DivShop td {
    border-right: none;
    border-left: none;
    padding-left: 4px;
}

#LeaveTown {
    margin-top: 20px;
    width: 100%;
}









img {
/* aspect-ratio: 4/5; */
}

/* #MainColumn3 {
    display: grid;
} */
#DivMap, #DivMapTable {
    grid-column: 1;
    grid-row: 1;
}
#DivMapTable table {
    border: none;
    box-shadow: none;
}
#DivMapTable td {
    border: none;
    background-color:rgba(163, 5, 5, 0);
    width: 100px;
    height: 57px;
    overflow: visible;
}


#DivMap img.map {
    border: 2px solid var(--red1);
    box-shadow: 0 0 4px var(--red1);
    border-radius: 0.8%;
    opacity: 1;
    /* height: 100px; */
}

#TdMap-2 {
    z-index: 998;
}

/* desert */
.map1 {
    margin-top: -1100px;
    margin-left: 150px;
}
/* plains */
.map2 {
    margin-top: -600px;
    margin-left: 50px;
}
/* swamp */
.map3 {
    margin-top: -650px;
    margin-left: 150px;
}
/* tundra */
.map4 {
    margin-top: -150px;
    margin-left: 70px;
}
/* mountains */
.map5 {
    margin-top: -400px;
    margin-left: 400px;
}
/* island */
.map6 {
    margin-top: -700px;
    margin-left: 330px;
}







/* 

#Map {
    border-collapse: collapse;
}
.mapEnabled {
    background-color: rgb(216, 16, 16);
}
[id*="MapStart"] {
    background-color: var(--red1);
    content: url("img.png");
}
area {
    background-color: brown;
    z-index: 998;
    display: block;
} */








/*Visible transition test*/
.hidden {
    transition: 100ms linear;
    visibility: hidden;
    
}
.visible {
    background-color: rgba(0, 0, 0, 0.329);
    transition: 100ms linear;
    visibility: visible;
}


