.column2 {
    margin: auto;
    width: 35%;
    padding: 60px;
    border: 2px solid var(--red1);
    background-color: var(--light2);
    padding: 20px;
    box-shadow: 0 0 4px var(--red1);
    border-radius: 0.8%;
    min-height: 550px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1156px) {
    .column2 {
      width: 40%;
    }
  }
  @media only screen and (max-width: 1056px) {
    .column2 {
      width: 45%;
    }
  }
  @media only screen and (max-width: 956px) {
    .column2 {
      width: 50%;
    }
  }
  @media only screen and (max-width: 856px) {
    .column2 {
      width: 55%;
    }
  }
  @media only screen and (max-width: 756px) {
    .column2 {
      width: 60%;
    }
  }
  @media only screen and (max-width: 656px) {
    .column2 {
      width: 65%;
    }
  }
  @media only screen and (max-width: 556px) {
    .column2 {
      width: 70%;
    }
  }
  @media only screen and (max-width: 456px) {
    .column2 {
      width: 80%;
      background-color: var(--light1);
      border: none;
      box-shadow: none;
    }
  }
  @media only screen and (max-width: 356px) {
    .column2 {
      width: 90%;
      background-color: var(--light1);
      border: none;
      box-shadow: none;
    }
  }
  @media only screen and (max-width: 256px) {
    .column2 {
      width: 100%;
      background-color: var(--light1);
      border: none;
      box-shadow: none;
    }
  }



td {
    padding: 5px;
}

.collapsibleListElements {
    padding: 8px;
}
.collapsibleListElements td:hover:not(.tdSelected) {
    cursor: pointer;
    background-color: var(--light5);
    text-shadow: var(--red1) 1px 1px 8px;
    transition: 100ms linear;
}
.collapsibleListElements td.hover {
    cursor: pointer;
    background-color: var(--light5);
    text-shadow: var(--red1) 1px 1px 8px;
    transition: 100ms linear;
}

input {
    background-color: #988b7f;
}

.setAttribute {
    width: 30px;
    text-align: center;
    z-index: -1;
    font-weight: bold;
}
.setAttributeDisabled {
    background-color: #988b7f;
    border: 1px solid var(--brown);
    color: black;
    cursor: default;
}
.setAttributeEnabled:hover {
    cursor: pointer;
    background-color: var(--light6);
    text-shadow: var(--red1) 8px 8px 8px;
    transition: background-color 200ms linear;
    /* box-shadow: 0 0 10px var(--red1); */
    z-index: 1;
}

.bottomButton {
    width: 150px
}

button, table, input, textarea {
    width: 300px;
}

.map {
    border: 2px solid var(--red1);
    box-shadow: 0 0 8px var(--red1);
    border-radius: 0.4%;
    height: 600px;
}
